// FUllImageCard
.list-item {
  margin-bottom: 30px;
  padding: 0 20px; 
}
@media all and (min-width: 768px) {
.list-item {  
    width: 48%;
  }
} 
.full-image-list {
  margin: 50px 0 20px;   
  li {
    list-style-type: none;
  }  
}
@media all and (min-width: 768px) {
.full-image-list {  
    display: flex;
  }
} 

.information-box {
  display: flex;
  margin-top: 2px;
  padding: 5px 10px;
  border: 1px solid $light-gray;
  .left {
    flex: 1;
    margin: 8px 0 0 10px;
    .location {
      word-break: break-all;
    }
    .fee {
      font-size: 1.6rem;
      margin-top: 5px;
    }
  }
  .right {
    flex: 1;
  }
}

.icons-list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin: 5px;
  }
}

.image-wrapper {
  display: flex;
  justify-content: center;    
}
.image-icon {
  width: 20px;
  height: 20px;
}
// .image-icon.selected {
//   background-color: red;   
// }
